body{
    height: 200vh;
}

.topper {
    display: flex;
    position: relative;
    height: 5%;
    width: auto; 
    background-color: #707070 ;
    align-items: center ;
    justify-content: flex-start;
    flex-direction: row ;
}
.topH1 {
    color: #FFFFFF ;
    position: relative;
    left: 15px;
}
.navi {
    display: flex ;
    position: relative;
    width: 50% ;
    height: 10% ;
    justify-content: flex-end;
    left: 500px ;

}
.navUl {
    display: flex;
    position: relative;
    width: 960px ;
    height: 10% ;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF ;
    list-style-type: none ;
    word-spacing: 15px;
}

.box1 {
    display: flex ;
    position: relative;
    width: auto;
    height: 300px ;
    background-color: #000000;
    color: #E9E05F;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.gboxz {
    display: flex;
    position: relative;
    width: auto;
    height: 300px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.gbox1 {
    position: relative;
    width: 250px ;
    height: auto;
    margin: 20px;
    border-radius: 5% ;
    background-color: #A4FFD7;
    z-index: 2;
}
.gbox2 {
    position: relative;
    width: 250px ;
    height: auto;
    margin: 20px;
    border-radius: 5% ;
    background-color: #A4FFD7;
    z-index: 2;
}

.gbox3 {
    position: relative;
    width: 250px ;
    height: auto;
    margin: 20px;
    border-radius: 5% ;
    background-color: #A4FFD7;
    z-index: 2;
}

.bboxz {
    display: flex;
    position: relative;
    width: auto;
    height: 300px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.bbox1 {
    position: relative;
    width: 500px ;
    height:auto;
    margin: 30px ;
    background-color: #FFC36C;
}
.bbox2{
    position: relative;
    width: 500px ;
    height:auto;
    margin: 30px ;
    background-color: #FFC36C;
}

.lastBox{
    display: flex;
    position: relative;
    width: auto;
    height: 500px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 100px ; 
}
.footi {
    
    display: flex;
    position: relative;
    height: 10%;
    width: auto; 
    background-color: #3A3A56 ;
    align-items: center ;
    justify-content: flex-start;
    flex-direction: row ;

}
